snippet tstruct "Structurizr Template" b
workspace ${1:name} ${2:Description} {
  # Model {{{
	model {
	${3:Model goes here}
	}
	# }}}

  # Views {{{
	views {
	  ${4:Views go here}
	}
	# }}}

}
endsnippet
snippet api "New API Component"
${1:name}API = component "$1 API" "${2:Java/Spring}" "${3:tags}"
endsnippet
